.option{
    width: 500px;
  }
  .front_type {
    display: inline-block;
    width: 80px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;

  }

  .canvas-container{
    position: relative;
    padding: 0;
    box-sizing: content-box;
    width: 600px;
  }
  .canvas-container:before{
    content:"";
    display: block;
    padding-top: 0;
  }

  .mycanvas{
    position: absolute;
    left:0;
    top:0;
    border:0;
    border: solid 1px black;


  }

  #stable{
    background-color: rgb(214, 53, 214);
    color: white;
  }
  #warm{
    background-color: #ff0000;
    color:white;
  }
  #cold{
    background-color: #0000ff;
    color:white;
  }
  #occulus{
    background-color: rgb(214, 53, 214);
    color:white;
  }
  
